<div class="row-container space-between">

    <div class="search-container width-100 primary-text">
        <i class="fas fa-search ic-menu-size"></i>
        <input id="search-input" type="text" placeholder="Search" class="search-input">
    </div>                
    
    <a href="/profile">
        <img src="<%= loggedInUser.profile %>" alt="profile" class="circle-image">
    </a>
    
</div>